*{box-sizing: border-box;}
body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  background-color: #eeeeee;
}

header{
background-color: #ff4949;
overflow: hidden;
width: 100%;
position: fixed;
top: 0;
z-index: 10;

}
 p.logo{
   float: left;
  font-family: 'Sofia';
  font-size: 25px;
  color: #eeeeee;
  padding-left: 15px;
 }
 a.linkgeneros{
   color: #eeeeee;
  text-decoration: none;
  font-family: 'ABeeZee';
  font-size: 20px;
  padding-top: 27px;
  float: left;
 }
 a.linkgeneros:hover{
   text-decoration: underline;
     color: #c10000;
 }

 form.buscador{
  padding-top: 25px;
  float: right;
  padding-right: 20px;

 }
 div.derecha{
   float: right;
   width: 29%;
   overflow: hidden;
 }
form.buscador input.buscar{
  border-style: solid;
  border-width: medium;
  border-color: #ff4949;
  border-radius: 20px;
  height: 30px;
  width: 170px;
  padding-right: 25px;
}
input.buscar::placeholder{
text-align: center;
  font-family: 'ABeeZee';
  font-size: 20px;
  margin: auto;
  /* IDEA: NO QUEDA EN EL MEDIO BROOOOO */
}
form.buscador input.buscar:hover{
  border-style:solid;
  border-color: #c10000;
  border-width: medium;

}
div a.login{
  font-family: 'ABeeZee';
  font-size: 20px;
  color: #eeeeee;
  padding-top: 27px;
  text-decoration: none;
  float: left;
  padding-right: 15px;
}
div a.login:hover{
  text-decoration: underline;
  color: #c10000;
}

footer{
  width: 100%;
  overflow:hidden;
  height: 15vh;
  background-color: #dedede;
  border-top-color: #ff4949;
  border-bottom-color: #dedede;
  border-left-color: #dedede;
  border-right-color: #dedede;
  border-style: solid;
  border-width: medium;
  margin-top: 20px;
}
footer p{
  font-family: 'ABeeZee';
  font-size: 15px;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
  color: #c10000;
}
footer img{
  width: 75px;
  float: right;
  padding-top: 15px;
  padding-right: 30px;
}
ul{
  overflow: hidden;
  padding-left: 0;
}
h1{
  font-family: 'ABeeZee';
  color: #ff4949;
  background-color: #dedede;
  text-align: center;
  height: 100px;
  padding-top: 30px;
  font-size: 40px;
  margin-left:0;
}
h1.peliculaspopulares{
 margin-top: 100px;
}
li{
  float: left;
  list-style-type: none;
  margin-right:4%;
  margin-bottom: 2.5%;
    padding-left: 35px;
}
li img{
  width: 350px;

}
li img:hover{
  opacity: 0.5;
  border-color: grey;
}
